mixin image(file, alt="")
  - const [fileName] = file.split(".")

  if isDev
    img(class="lazy" data-src=`assets/images/${file}` src="assets/images/_placeholder.png" alt=alt)&attributes(attributes)

  else
    picture
      source(data-srcset=`assets/images/${fileName}.avif` srcset="assets/images/_placeholder.png" type="image/avif")
      source(data-srcset=`assets/images/${fileName}.webp` type="image/webp" srcset="assets/images/_placeholder.png")
      img(class="lazy" data-src=`assets/images/${file}` src="assets/images/_placeholder.png" alt=alt)&attributes(attributes)

mixin style(path)
  link(rel="stylesheet" href=path)

mixin script(path)
  script(src=path)

mixin icon(id)
  svg
    use(xlink:href=`assets/images/sprite.svg#${id}`)
